# === Виртуальное окружение ===
venv/
env/

# === Личные данные ===
plugins/
logs/
config/
Obsidian_brain/
data/
*.db
*.sqlite
*.sqlite3
*.env

# === Кэш Python ===
__pycache__/
*.py[cod]
*$py.class

# === Настройки редактора ===
.vscode/

# === Секреты ===
.env