# === Виртуальное окружение ===
venv/
env/

# === Личные данные ===
data/
*.db
*.sqlite
*.sqlite3
*.env

# === Кэш Python ===
__pycache__/
*.py[cod]
*$py.class

# === Настройки редактора ===
.vscode/

# === Секреты ===
.env